# Variables de entorno
.env
*.env

# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
*.log
staticfiles/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db